Package: tlweb-swarmui
Version: 1.2.2-0.9.3-Beta
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: A Modular Stable Diffusion web-based image generation interface, with an emphasis on
 making AI powertools easily accessible, performant, and extensible.
Depends: git, rsync, wget
Recommends: tinyllama
Homepage: https://github.com/mcmonkeyprojects/SwarmUI
Commit: 3122b8ab7fdef6d6c2a4199d771b23cdbcbbfc2a
Name: SwarmUI
