Package: tlweb-swarmui
Version: 1.1.2-0.9.0-Beta
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: A Modular Stable Diffusion web-based image generation interface, with an emphasis on
 making AI powertools easily accessible, performant, and extensible.
Depends: git, rsync, wget
Recommends: tinyllama
