[Unit]
Description=Upgrade packages using apt

[Service]
User=root
Type=simple
ExecStart=/bin/bash -lc 'apt upgrade -y'

[Install]
WantedBy=multi-user.target
