[Unit]
Description=Upgrade packages using apt

[Service]
Type=simple
ExecStart=apt upgrade -y
StandardInput=tty-force
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
