[Unit]
Description=TinyLlama Web Service
After=network.target

[Service]
ExecStart=/srv/www/TinyLlama/venv/bin/python3 -m gunicorn -b 0.0.0.0:80 -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker 'app:app'
WorkingDirectory=/srv/www/TinyLlama
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
