[Unit]
Description=StableSwarmUI Runner
After=network.target

[Service]
ExecStart=/usr/bin/bash -l -c 'ASPNETCORE_ENVIRONMENT="Production" ASPNETCORE_URLS="http://*:7801" dotnet src/bin/live_release/StableSwarmUI.dll'
WorkingDirectory=/srv/www/StableSwarmUI
Restart=always

[Install]
WantedBy=multi-user.target