Package: tlweb-open-webui
Version: 1.3.3-0.4.7
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: Open WebUI is an extensible, feature-rich, and user-friendly self-hosted web-based AI
 chat interface designed to operate entirely offline. It supports various LLM runners, including Ollama and
 OpenAI-compatible APIs.
Depends: docker-ce, tinyllama-ollama ( >= 1.0.8-0.3.10 ), tinyllama-openedai-speech
Recommends: tinyllama
Homepage: https://github.com/open-webui/open-webui
Commit: c4ea31357f49d08a14c86b2bd85fdcd489512e91
Name: Open WebUI
