Package: tlweb-open-webui
Version: 1.1-git-2c06177
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: Open WebUI configured for the Tiny Llama AI Home server platform by InsightReactions
Depends: docker-ce
Recommends: tinyllama, tinyllama-plus
