Package: tinyllama-plus
Version: 0.1
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: Official Tiny Llama Plus package by InsightReactions
Depends: tinyllama-default