Package: tinyllama
Version: 1.1.1
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: Official Tiny Llama webserver by InsightReactions
Depends: python3-venv, python3-pip, curl, git, tlweb-marketplace (>= 0.9.1)
Suggests: tinyllama-mdns
