Package: tinyllama
Version: 1.0
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: Official Tiny Llama webserver by InsightReactions
Depends: python3-venv, curl, git
Suggests: tinyllama-mdns
