Package: tinyllama-ollama
Version: 1.0.8-0.5.1
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: ollama configured for the Tiny Llama AI Home server platform by InsightReactions
Depends: curl
Recommends: tinyllama
Homepage: https://github.com/ollama/ollama
Commit: de52b6c2f90ff220ed9469167d51e3f5d7474fa2
Name: Ollama
