Package: tinyllama-ollama
Version: 1.0.8-0.4.0
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: ollama configured for the Tiny Llama AI Home server platform by InsightReactions
Depends: curl
Reccomends: tinyllama
Homepage: https://github.com/ollama/ollama
Commit: 9d71bcc3e2a97c8e62d758450f43aa212346410e
Name: Ollama
