[Unit]
Description=open-webui
After=network.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop open-webui
ExecStartPre=-/usr/bin/docker rm open-webui
ExecStart=/usr/bin/docker run --rm -p 8080:8080 --network=host -e OLLAMA_BASE_URL=http://127.0.0.1:11434 -v /srv/www/open-webui:/app/backend/data --name open-webui ghcr.io/open-webui/open-webui:main


[Install]
WantedBy=default.target
