Package: tinyllama-default
Version: 1.0
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: Official default configuration for Tiny Llama by InsightReactions
Depends: tinyllama-ollama, tlweb-open-webui, tlweb-stableswarmui
Recommends: tinyllama-plus
