Package: tlweb-marketplace
Version: 1.0.2
Maintainer: InsightReactions <support@insightreactions.com>
Section: utils
Priority: optional
Architecture: amd64
Description: The Official Tiny Llama Marketplace by InsightReactions
